<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFeedbackService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19076/IFeedbackEndpoint.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeedbackService"
                contract="IntegrationPartner.IFeedbackService" name="BasicHttpBinding_IFeedbackService" />
        </client>
    </system.serviceModel>
</configuration>
